body{
  margin: auto;
  width: 100%;
  padding-top: 59px;
}

h1{
  font-size: 2.25em;
  font-family: 'Shadows Into Light', cursive;
  margin: auto;
}
h3{
  font-size: 1.05em;
  font-family: 'Ranga', cursive;
  margin: auto;
}

nav{
  background-color: #333;
  width: 100%;
  position: fixed; top: 0px; left: 0px; z-index: 999;
}
#logo-text{
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-size: 32px;
  float: left;
  text-decoration: none;
  padding: 0 2.5%;
}

#logo-text:hover{
  color: #777;
}
.navleft{
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.menu-item{
  display: block;
  color: #FFF;
  text-align: center;
  float: right;
  text-decoration: none;
  padding: 1.2% 2%;
}

.menu-item:hover{
  background-color: #111;
}

.main-footer{
  background-color: #333;
  width: 100%;
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 15px;
  letter-spacing: 2px;
}

#main-body{
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(7, 8, 2, 0.21);
  margin: 0 9%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 0;
  height: 100%;
}

.round-img{
height: 20%;
width: 20%;
border-radius: 50%;
margin: 0 40%;
};
