body{
  margin: auto;
  width: 100%;
  padding-top: 59px;
  background-color: #bbb;
  overflow-x: hidden;
}
.parallax1{
  background:url("background/1.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}
.parallax2{
  background: #ccc no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
  width: 100%
}
h1{
  font-size: 2.25em;
  font-family: 'Shadows Into Light', cursive;
  margin: auto;
}
.portfolio-container{
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}
/*NAVIGATION BAR AND HEADER/FOOTER*/
nav{
  background-color: #333;
  width: 100%;
  position: fixed; top: 0px; left: 0px; z-index: 999;
}
#logo-text{
  font-family: 'Shadows Into Light', cursive;
  color: white;
  font-size: 2em;
  float: left;
  text-decoration: none;
  padding: 0 2.5%;
  margin: auto;
}

#logo-text:hover{
  color: #777;
}
.navleft{
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.menu-item{
  display: block;
  color: #FFF;
  text-align: center;
  float: right;
  text-decoration: none;
  padding: 1.2% 2%;
}

.menu-item:hover{
  background-color: #111;
}

.main-footer{
  background-color: #333;
  width: 100%;
  color: #FFF;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 15px;
  letter-spacing: 2px;
}

/*MAIN BODY*/

.main-body{
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(255, 255, 255, 0.32);
  margin: 0 9%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 0;
}
#about-me{
  border: 1px dotted black;
  margin: 1% 10%;
}

.main-article{
  margin: 0;
  font-size: 1.24em;
}

#homepagetitle{
  font-family: 'Shadows Into Light', cursive;
  color: #FFF;
  text-align: center;
  padding: 20% 0 0 0;
  margin: 0;
  font-size: 4em;
  display: inline-block;
}
#homepagetitle2{
  font-family: 'Quicksand', sans-serif;
  color: #FFF;
  margin: 0;
  letter-spacing: 1px;
}

.page-title{
  font-size: 3em;
  color: #333;
  font-family: 'Shadows Into Light', cursive;;
  letter-spacing: 2px;
  text-align: center;
  margin: auto;
  padding-top: 4.5%;
  padding-bottom: 4.5%;
}
.project-title{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  color: #333;
}
.project-link{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 1.25em;
}
.project-link:hover{
  text-decoration: none;
  color: #333;
}

.gap{
  margin-top: 3%;
}
/*IMAGES*/
.round-img{
width: 20%;
border-radius: 50%;
top: auto;
left: auto;
};
